<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

  <h1 class="welome-message">Hey <%= user ? user.profile.name : "There" %>!</h1>
  <% if (user?.profile.avatar) { %>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% } %>

<%- include('./partials/footer') %>
