<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/edit.css">
<%- include('../partials/nav') %>

<section>
  <h1>Edit Your Comment!</h1>
  <form 
    action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=PUT"
    method="POST"
  >
    <label>
      Content: 
      <textarea
        cols="30"
        rows="5" 
        type="text"
        name="content" 
        autocomplete="off"
      ><%= comment.content %></textarea>
    </label>
    <button type="submit">Update Comment</button>
  </form>
</section>

<div class="card w-50" id="center-card">
  <h1><%= title %></h1>
  <div class="card-body text-center">
    <div class="row mb-3">
      <form id="new-form" action="/posts" method="POST">
        <div class="row mb-3">
          <label for="title-input" class="form-label">Title: </label>
          <input type="text" class="form-control" name="title" id="title-input">
        </div>
        <div class="row mb-3">
          <label for="image-input" class="form-label">Image URL:</label>
          <input type="text" class="form-control" id="image-input">
        </div>
        <div class="row mb-3">
          <label for="textarea-input">Description:</label>
          <textarea type="text" name="textarea" class="form-control" id="textarea-input"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-danger btn-lg">Submit</button>
      </form>
    </div>
  </div>
</div>


<%- include('../partials/footer') %>