<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <body>
    <% posts.forEach((post) => { %>
      <div>
        <article>
          <h1><%= post.title %> </h1>
          <h2><%= post.creator %> </h2>
          <img src="<%= post.image %>">
          <p><%=  post.textarea %> </p>
        </article>
      </div>
      <% }) %>
  </body>
</main>


<%- include('../partials/footer') %>