<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/index.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <body>
    <% posts.forEach((post) => { %>
      <div>
        <article>
          <h1>
            <a href="/posts/<%= post._id %>"><%= post.title %></a>
          </h1>
          <h3>Shared by <%= user.profile.name %> on <%= post.createdAt.toLocaleDateString() %></h3>
          <img src="<%= post.image %>" width="1450">
          <p><%=  post.textarea %></p>
        </article>
      </div>
      <% }) %>
  </body>
</main>


<%- include('../partials/footer') %>