<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <div class="card text-center mb-3" style="width: 75rem;">
    <h2><%= post.title %> </h2>
      <img src="<%= post.image %>" class="card-img-top" class="source-image">
    <div class="card-body">
      <h4>Shared by <%= post.owner.name %> on <%= post.createdAt.toLocaleDateString() %> at <%= post.createdAt.toLocaleTimeString([], {timeStyle: 'short'}) %> </h4>
      <p class="card-text"><%= post.textarea %></p>
      <% if (post.owner.equals(user?.profile._id)) { %>
        <a href="/posts/<%= post._id %>/edit">
          <button type="button" class="btn btn-outline-danger btn-lg">Edit Post</button>
        </a>
        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-outline-danger btn-lg">Delete Post</button>
        </form>
      <% } %>
    </div>
  </div>

  <div class="card" style="width: 75rem;">
    <div class="card-body">
      <% if (user) { %>
        <h3>Add a comment</h3>
        <form action="/posts/<%= post._id %>/comments" method="POST">
          <textarea name="content" rows="5" cols="60"></textarea><br>
          <button type="submit" class="btn btn-outline-danger btn-lg">Add Comment</button>
        </form>
      <% } %>  
    </div>
  </div>

  <div class="card" style="width: 75rem;">
    <h1>Comments</h1>
    <% if (post.comments.length > 0) { %>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Comment</th>
            <th scope="col"></th>
          </tr>
        </thead>~
        <tbody>
          <tr>
            <% post.comments?.forEach(comment => { %>
              <td scope="row"><%= new Date().toLocaleDateString() %></td>
              <td><%= comment.commenter.name %> </td>
              <td><%= comment.content %> </td>
              <td>
                <% if (comment.commenter._id.equals(user?.profile._id)) { %>
                  <form action="/posts/<%= post._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-outline-danger btn-lg">Delete Comment</button>
                  </form>
                  <a href="/posts/<%= post._id %>/comments/<%= comment._id %>/edit" class="btn btn-outline-danger btn-lg" text-decoration="none">Edit Comment</a>
                <% } %> 
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %>
      <h4>No Comments Yet</h4>  
    <% } %>
  </div>
</main>

<%- include('../partials/footer') %>