<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div>
      <h1><%= post.title %></h1>
      <% if (user.profile.equals(user?.profile._id)) { %>
        <a href="/posts/<%= post._id %>/edit">
          <button class="btn">Edit Post</button>
        </a>
      <% } %>
    <div>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Post</button>
      </form>
    </div>
    <div>
      <img src="<%= post.image %>" width="1450">
    </div>
    <div>
      <p><%= post.textarea %></p>
    </div>
  </section>

  <h2>Comments</h2>
  <form 
    id="add-comment-form"
    action="/posts/<%= post._id %>/comments"
    method="POST"
  >
    <label for="comment-input">Comment:</label>
    <textarea name="content" id="comment-textarea"></textarea>
    <button type="submit">Add Comment</button>
  </form>
  <% if (post.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% post.comments.forEach(function(comment) { %>
          <tr>
            <td><%= comment.content %></td>
            <td>
              <form action="/posts/<%=post._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
              <button type="submit">Delete</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Comments Yet</h3>
  <% } %>
</main>

<%- include('../partials/footer') %>