<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/posts/show.css">
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <section>
    <div>
      <h1><%= post.title %></h1>
      <% if (user.profile.equals(user?.profile._id)) { %>
        <a href="/posts/<%= post._id %>/edit">
          <button class="btn">Edit Post</button>
        </a>
      <% } %>
    <div>
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete Post</button>
      </form>
    </div>
    <div>
      <img src="<%= post.image %>" width="1450">
    </div>
    <div>
      <p><%= post.textarea %></p>
    </div>
  </section>

  <h2>Comments</h2>
  <% if (user) { %>
    <h3>Add a comment</h3>
    <form action="/posts/<%= post._id %>/comments" method="POST">
      <textarea name="content"></textarea><br>
      <button>Add Comment</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %>